{% extends '::/Admin/layout.html.twig' %}
{% block title_page %}
    <i class="fa fa-plus-circle fa-list "></i>
    Entradas <span>> Crear de Pedido</span>
{% endblock %}
{% block content -%}
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="wid-id-0" class="jarviswidget" 
                     data-widget-deletebutton="true" data-widget-colorbutton="true" data-widget-editbutton="true">
                    <header>


                        <span class="widget-icon"> <i class="fa fa-plus-circle"></i> </span>
                        <h2>Crear de Pedido</h2>

                    </header>

                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">

                        </div>
                        <div class="widget-body">
                            <!-- Contenido -->
                            <div class="widget-header">                        
                                <!-- Botones de Accion -->
                                <a href="{{ path('admin_entradas', {}) }}" class="btn btn-primary">
                                    <i class="fa fa-list fa-fw"></i> Lista de Entradas
                                </a>
                            </div>
                            <!-- Contenido -->
                            <div>
                            {{ form(form) }}
                            </div>
                            <div id="datos-pedido">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
{% endblock %}
{% block javascript_page %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#crear_de_pedido_type").validate();
            $("#crear_de_pedido_type").submit(function(e){
                e.preventDefault();
                if($("#crear_de_pedido_type").valid()) {
                    $.ajax({
                        url: "{{ path('admin_entradas_buscar_pedido') }}",
                        type: 'POST',
                        dataType: "JSON",
                        data: $("#crear_de_pedido_type").serialize(),
                        success: function(data) {
                            if(data.code == 200) {
                                createAlert("success", null, data.message)
                                $("#datos-pedido").html(data.html);
                            } else {
                                $("#datos-pedido").html(data.html);
                                createAlert("danger", null, data.message);
                            }
                        },
                        error: function(request, text, error) {
                            //$("#loader").modal("hide");
                            createAlert("danger", null, "El servidor ha regresado el mensaje: "+text);

                        }
                    });
                }
            });
        });
    </script>
    
{% endblock %}