{% extends '::/Admin/layout.html.twig' %}
{% block title_page %}
    <i class="fa fa-plus-circle fa-list "></i>
    Salidas <span>> Nueva</span>
{% endblock %}
{% block content -%}
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="wid-id-0" class="jarviswidget" 
                     data-widget-deletebutton="true" data-widget-colorbutton="true" data-widget-editbutton="true">
                    <header>


                        <span class="widget-icon"> <i class="fa fa-plus-circle"></i> </span>
                        <h2>Nueva</h2>

                    </header>

                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">

                        </div>
                        <div class="widget-body">
                            <!-- Contenido -->
                            <div class="widget-header">                        
                                <!-- Botones de Accion -->
                                <a href="{{ path('admin_salidas', {}) }}" class="btn btn-primary">
                                    <i class="fa fa-list fa-fw"></i> Lista de Salidas
                                </a>
                            </div>
                            <!-- Contenido -->
                            {{ form(form) }}
                            <div id="contenedor-modales">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
{% endblock %}
{% block javascript_page %}
    {{ include('::/Admin/Salidas/scripts_compartidos.html.twig') }}
    
{% endblock %}