<div id="modal-consultar-salida" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Datos de la Salida</h4>
            </div>
            <div class="modal-body">
                <ul class="list-inline">
                
                    <li>
                        {% if editable %}
                        <a href="{{ path('admin_salidas_edit', { 'id': entity.id }) }}" target="_blank" class="btn btn-primary">
                            <i class="fa fa-edit fa-fw"></i>
                            Editar
                        </a>
                        {% endif %}
                    </li>
                </ul>
                {{include("Admin/Salidas/datos_generales.html.twig", {'entity': entity, 'salidasTipos':salidasTipos})}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Cancelar
                </button>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    $("#modal-consultar-salida").modal("show");
</script>
   

    