{% extends "::/Admin/layout.html.twig" %}
{% block content %}
<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="wid-id-0" class="jarviswidget" 
                 data-widget-deletebutton="true" data-widget-colorbutton="true" data-widget-editbutton="true">
                <header>


                    <span class="widget-icon"> <i class="fa fa-desktop"></i> </span>
                    <h2>Demo</h2>

                </header>

                                <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <input class="form-control" type="text">

                    </div>
                    
                        <!-- Contenido -->
                        <div class="widget-header">                        
                            <!-- Botones de Accion -->
                            <h3>Formulario</h3>
                        
                        <form id="form-example" class="form-horizontal" method="POST">
                            {#
                            <div id="DemoType_campo_compuesto_control_group" class="form-group" >
                                <label class=" control-label col-sm-3 col-md-3 col-lg-2 required">
                                    Campo compuesto <span class="asterisk">*
                                </span></label>
                                <div class="col-lg-10" id="DemoType_campo_compuesto">
                                    <div class="row">
                                    <div class="col-lg-3"><input type="text" class="form-control"></div>
                                    <div class="col-lg-9"><input type="text" class="form-control"></div>
                                    </div>
                                </div>
                            </div>
                            #}
                            {{form_widget(form)}}
                            
                            
                        </form>
                        </div>
                        
                    
                
      </div>
        </article>
    </div>
</section>
{% endblock %}
{% block javascript_page %}
    <script type="text/javascript">
        $(document).ready(function(){
            // js/tables.js
            
            
            $("#form-example").validate({
                
            });
        });
    </script>
{% endblock %}