<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="wid-id-0" class="jarviswidget" 
                 data-widget-deletebutton="true" data-widget-colorbutton="true" data-widget-editbutton="true">
                <header>


                    <span class="widget-icon"> <i class="fa fa-desktop"></i> </span>
                    <h2>Demo</h2>

                </header>

                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <input class="form-control" type="text">

                    </div>
                    <div class="widget-body">
                        <!-- Contenido -->
                        <div class="widget-header">                        
                            <!-- Botones de Accion -->
                        </div>
                        <!-- Contenido -->
                        <h3>Formulario</h3>

                    </div>
                </div>
            </div>
        </article>
    </div>
</section>