<div id="modal-nuevo-articulo" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar Artículo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        {{ form(form) }}
                    </div>
                    <div class="col-lg-6">
                        <h2 class="margin-top-0">Descripción de Artículo</h2>
                        <div id="articulo-descripcion">
                            <span class="help-block">
                                La descripción se va a mostrar al ingresar un artículo.
                            </span>
                        </div>
                    </div>
                </div>
                
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Cancelar
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    initDatePicker();
    //$("#entrada_detalles_type_fechaCaducidad").mask();
    $('#entrada_detalles_type').validate({
        rules: {
            "entrada_detalles_type[cantidad]": {
                "number": true,
                "required": true
            },
            "entrada_detalles_type[precio]": {
                "number": true,
                "required": true
            }
        }
    });
    
    
    $("#entrada_detalles_type_articulo").tooltip();
    
    //Interceptando el click para buscar un artículo
    $("#entrada_detalles_type_articulo_control_group .input-group-addon").click(function(){
        $.ajax({
            url: "{{ path('admin_articulos_popup_buscar') }}",
            type: 'GET',
            dataType: "JSON",
            //data: $("#people_type").serialize()+"&valor=10",
            data: {
                "acciones": "/Admin/EntradaDetalles/acciones_seleccionar_articulo.html.twig"
            },
            success: function(data) {
                if(data.code == 200) {
                    $("#contenedor-modal-popup-buscar-articulo").html(data.html);

                } else {
                    createAlert("danger", null, data.message)

                }
            },
            error: function(request, text, error) {
                //$("#loader").modal("hide");
                createAlert("danger", null, "El servidor ha regresado el mensaje: "+text);

            }
        });
    });
    
    //Interceptando el evento al enviar el formulario
    $("#entrada_detalles_type").submit(function(e){
        
        if($('#entrada_detalles_type').valid()) {
            e.preventDefault();
            $.ajax({
                url: "{{ path('admin_entradadetalles_create') }}",
                type: 'POST',                
                dataType: "JSON",
                data: $("#entrada_detalles_type").serialize()+"&valor=10",
                success: function(data) {
                    if(data.code == 200) {
                        createAlert("success", null, data.message)
                        $("#modal-nuevo-articulo").modal('hide');
                        
                        dtListaDetalles.row.add([
                            data.registro.clave,
                            data.registro.nombre,
                            data.registro.cantidad,
                            data.registro.precio,
                            data.registro.total,
                            data.registro.btn_editar
                        ]).draw();
                    } else {
                        createAlert("danger", null, data.message)

                    }
                },
                error: function(request, text, error) {
                    //$("#loader").modal("hide");
                    createAlert("danger", null, "El servidor ha regresado el mensaje: "+text);

                }
            });
        }
    });
    
    function mostrarInfoArticulo(clave)
    {
        $.ajax({
            url: "{{ path('admin_entradadetalles_buscar_articulo') }}",
            type: 'GET',
            dataType: "JSON",
            //data: $("#people_type").serialize()+"&valor=10",
            data: {
                articuloClave: clave
            },
            success: function(data) {
                if(data.code == 200) {
                    $('#articulo-descripcion').html(data.html);

                } else {
                    createAlert("danger", null, data.message)

                }
            },
            error: function(request, text, error) {
                //$("#loader").modal("hide");
                createAlert("danger", null, "El servidor ha regresado el mensaje: "+text);

            }
        });
    }
    
    //Interceptando el evento al salir del campo
    $('#entrada_detalles_type_articulo').blur(function(){
        articuloClave = $(this).val()
        if(!isEmpty(articuloClave)) {
            mostrarInfoArticulo(articuloClave);
        }
    }); //Fin blur campo artículo
    
    $("#modal-nuevo-articulo").modal('show');
    
    
</script>

    

