/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2015, 1:45:10 PM
    Author     : jsr
*/

.margin-top-15 {
    margin-top: 15px;
}


/*
 * Formularios
 */

.required .asterisk {
    color: #953b39;
    font-weight: bold;
}

/*
 * Modales
 */

.modal-lg {
    width: 90%;
}
