{# src/Acme/SecurityBundle/Resources/views/Security/login.html.twig #}
{% extends "SSASeguridadBundle::layout.html.twig" %}
{% block content %}
    {% if error %}
<div class="alert alert-danger"><b><i class="fa fa-plus-circle Error fa-fw"></i></b>
   {% if error.message == "Bad credentials" %}
     Usuario o Contrase침a incorrecta !!!
   {% endif %}
</div>
    {% endif %}


    
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            
           <img src="{{asset('smart-admin/img/login.png')}}" alt="Login">

        </div>
        <div class="col-md-3 ">
                <div class="well no-padding">
                        <form action="{{ path('login_check') }}" method="post" id="login-form" class="smart-form client-form">
                                <header>
                                        Iniciar Sesi칩n
                                </header>

                                <fieldset>

                                        <section>
                                                <label class="label" for="username">Usuario</label>
                                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                                        <input type="text" id="username" required="required" name="_username" value="{{ last_username }}" />
                                                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Por favor ingrese un usuario</b></label>
                                        </section>

                                        <section>
                                                <label class="label" for="password">Contrase침a</label>
                                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                                        <input type="password" id="password" required="required" name="_password" />
                                                        <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Ingresa tu contrase침a</b> </label>
                                        </section>

                                        <section>
                                            <!--
                                                <label class="checkbox">
                                                        <input type="checkbox" name="remember" checked="">
                                                        <i></i>Stay signed in</label>
                                            -->
                                        </section>
                                </fieldset>
                                <footer>
                                        <button type="submit" class="btn btn-primary">
                                                Iniciar Sesion
                                        </button>
                                </footer>
                        </form>

                </div>

        </div>
        <div class="col-md-3">
        </div>
    </div>
    
{% endblock %}
{% block javascripts_page %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("body").attr("id", "login");
            $("#login-form").validate();
        });
    </script>
{% endblock %}
