{% extends '::/Admin/layout.html.twig' %}
{% block title %}
    Reportes > Kardex
{% endblock %}
{% block title_page %}
    <i class="fa fa-file "></i>
    Reportes <span>> Kardex</span>
{% endblock %}
{% block content -%}
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="wid-id-0" class="jarviswidget" 
                     data-widget-deletebutton="true" data-widget-colorbutton="true" data-widget-editbutton="true">
                    <header>


                        <span class="widget-icon"> <i class="fa fa-file"></i> </span>
                        <h2>Kardex</h2>

                    </header>

                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <input class="form-control" type="text">

                        </div>
                        <div class="widget-body ">
                            <!-- Contenido -->
                            <div class="widget-header">                        
                                <!-- Botones de Accion -->
                            </div>
                            <!-- Contenido -->
                            {{form(form)}}
                            <div id="contenedor-modales">
                                
                            </div>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
{% endblock %}
{% block javascript_page %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#kardex_type").validate();
            
            //Peticion para buscar el programa
            $("#kardex_type_programa .input-group-addon").click(function(){
                $.ajax({
                    url: "{{ path('admin_programas_popup_buscar') }}",
                    type: 'GET',             
                    dataType: "JSON",
                    data: {
                        acciones: "/Admin/Reportes/acciones_kardex_buscar_programa.html.twig"
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            $("#contenedor-modales").html(data.html);

                        } else {


                        }
                    },
                    error: function (request, text, error) {

                    }
                });
            });
        });
    </script>
{% endblock %}
