<div id="modal-popup-buscar-articulo" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Buscar Artículo</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                <table id="lista-articulos" class="table">
                    <thead>
                        <tr>
                            <th>
                                <input class="form-control" placeholder="..."type="text"/>
                            </th>
                            <th>
                                <input class="form-control" placeholder="..."type="text"/>
                            </th>
                            <th>
                                <input class="form-control" placeholder="..."type="text"/>
                            </th>
                            <th>
                                <input class="form-control" placeholder="..."type="text"/>
                            </th>
                            <th>

                            </th>

                        </tr>
                        <tr>
                            <th>Clave</th>
                            <th>Nombre</th>
                            <th>Presentación</th>
                            <th>Partida</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                <input class="form-control" placeholder="..."type="text"/>
                            </th>
                            <th>
                                <input class="form-control" placeholder="..."type="text"/>
                            </th>
                            <th>
                                <input class="form-control" placeholder="..."type="text"/>
                            </th>
                            <th>
                                <input class="form-control" placeholder="..."type="text"/>
                            </th>
                            <th>

                            </th>

                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Cancelar
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialotereg -->
</div><!-- /.modal -->

{{include(acciones)}}

<script type="text/javascript">
    $(document).ready(function(){
        $.extend(Pace.options.ajax, {"ignoreURLs": ["{{ path('admin_articulos_popup_buscar_index') }}"]});
        $('#entrada_detalles_type_articulo').focus();
        noOrdenar = [4];
        dtListaArticulos = createDataTable("complete", "lista-articulos", {
            "processing": true,
            "autoWidth": false,
            "serverSide": true,
            //"order": [[ 1, 'desc' ]],
            "ajax": {
                "url": "{{ path('admin_articulos_popup_buscar_index') }}",
                "data": function(d) {
                    d.programa = null;
                }
            },
            "columnDefs": [
                { "sortable": false, "targets": noOrdenar }
            ],
            "columns": [
                { "width": "15%" },
                { "width": "50%" },
                { "width": "15%" },
                { "width": "10%" },
                { "width": "10%", "className": "text-right" },
            ],
            "initComplete": function(oSettings, json) {
                this.fnSetFilteringDelay(500);
                //dtListaEntradas.columns.adjust().draw();
            }
        });
        var search_timeout = undefined; 
        function setDelayColumn(item, colIdx)
        {
            if(search_timeout != undefined) {
                clearTimeout(search_timeout);
            }
            $this = item;
            search_timeout = setTimeout(function() {
              search_timeout = undefined;
              dtListaArticulos.column(colIdx).search( $this.value ).draw();
            }, 800);
        }
        //Funciona sólo con  inputs
        /**
        dtListaArticulos.columns().eq( 0 ).each( function ( colIdx ) {
            //Interceptando el los filtros
            $( 'input', dtListaArticulos.column( colIdx ).footer() ).on( 'keyup', function () {
                setDelayColumn(this, colIdx);
            } );
        });
        */
        
        $("#lista-articulos thead input").keyup(function(){
            
            index = $("#lista-articulos thead input").index(this);
            setDelayColumn(this, index);
            
        });
        $("#lista-articulos").on("mouseover", "[data-toggle=tooltip]", function(){
            $(this).tooltip("show");
        });
        $("#modal-popup-buscar-articulo").modal("show");
    });
</script>