    <table class="table">
        <tbody>
            
            <tr>
                <th>Clave</th>
                <td>{{ entity.clave }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Presentacion</th>
                <td>{{ entity.presentacion.nombre }}</td>
            </tr>
           
        </tbody>
    </table>