    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>
                        {% if entity.articulo.nombre|length > 500 %}
                            {{ entity.articulo.nombre|slice(1, 500)~ "..." }}
                        {% else %}
                            {{ entity.articulo.nombre }}
                        {% endif %}

                       </td>
            </tr>
            <tr>
                <th>Presentacion</th>
                <td></td>
            </tr>
            <tr>
                <th>Existencia</th>
                <td>{{ entity.existencia }}</td>
            </tr>
        </tbody>
    </table>