    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.articulo.nombre }}</td>
            </tr>
            <tr>
                <th>Presentacion</th>
                <td></td>
            </tr>
            <tr>
                <th>Existencia</th>
                <td>{{ entity.existencia }}</td>
            </tr>
        </tbody>
    </table>